body {
    background-color: #FF2B00;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #2563eb;
}

p {
    color: #FF2B99;
    font-size: 18px;
}
button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}
header {
    background-color: #00FF44;
    color: white;
    padding: 30px;
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
}

body {
    background-color: #e5e7eb;
    margin: 0;
}
nav {
    background-color: #111827;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #60a5fa;
}

img {
    border-radius: 10px;
    margin-top: 10px;
}